.checkbox-label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #6C757D;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-label input[type="checkbox"]:focus{
    box-shadow: none;
}


.noBlu:focus{
    box-shadow: none;

}